doctype html
html
	head
		meta(charset="UTF-8")
		
		title= title

		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="../css/style.css", type="text/css")
	body
		.pagehead
			h1.pagehead__title= title
			.pagehead__nav
				a.pagehead__navlink.pagehead__navlink--icon(href="/") home
				a.pagehead__navlink(href="/elec") Electricity
				a.pagehead__navlink(href="/trans") Transportation
				a.pagehead__navlink(href="/water") Water
				a.pagehead__navlink(href="/waste") Waste
		
		.pagebody.pagebody--state-error 404: Page Not Found.