doctype html
html
	head
		meta(charset="UTF-8")
		
		title= title

		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="../css/style.css", type="text/css")
	body
		.splash(style="text-align: center;")
				img(src="images/factorio.png")
				p
					span "A carbon footprint measures the total greenhouse gas emissions caused directly and indirectly by a person, organisation, event or product. " 
					a.link.link--head(href="https://www.carbontrust.com/resources/carbon-footprinting-guide", target="_blank") - Carbon Trust
				
				p At this point in time, we are consuming electricity and water at a rate that the world does not have space to sustain, and generating more pollution than it can safely handle; <b>we are unsustainable.</b>
				
				p 
					span A lot of the habits that most directly contribute to these patterns are outside of our control: they happen in the manufacturing of many of the products that we consume. This includes unsustainable harvesting practices such as  
					a.link.link--head(href="https://www.intechopen.com/chapters/71931", target="_blank") strip mining
					span and
					a.link.link--head(href="https://www.epa.gov/uog", target="_blank") fracking
					span , as well as things as simple as 
					a.link.link--head(href="https://www.transportenvironment.org/challenges/ships/greenhouse-gases/", target="_blank") shipping
					span .
				
				p Since there are so many aspects of our carbon footprint outside of our control, it is vital that we take what steps we can to reduce our contributions.
			
		.pagehead
			h1.pagehead__title= title
			.pagehead__nav
				a.pagehead__navlink.pagehead__navlink--icon.pagehead__navlink--active(href="/") home
				a.pagehead__navlink(href="/elec") Electricity
				a.pagehead__navlink(href="/trans") Transportation
				a.pagehead__navlink(href="/water") Water
				a.pagehead__navlink(href="/waste") Waste
		
		.pagebody(style="height: 85vh;")
			p Over the past few months, my class has performed a series of audits to quantify our various contributions to these unsustainable habits, and make efforts to reduce them. What follows is a summary of the information I found in these audits.
			
			ul.cardlist
				li.cardlist__card <b>Electricity</b> is produced in many ways, most of which contribute a considerable amount to our carbon footprint. While changing to a more sustainable means of producing energy seems like the best solution, it is often more realistic to simply reduce use. Some of the largest consumers of electricity in my home include cooling and heating as well as lighting.
				li.cardlist__card <b>Transportation</b> is one of the more intuitive ways that we affect our carbon footprint. Beyond the simple consequences of burning gasoline, the extraction and refining of fossil fuels is inherently unsustainable because its a limitted resource. Although my household only really uses one mode of transport, we make a lot of unecessary trips.
				li.cardlist__card Any use of <b>water</b> not only consumes water that has to be extracted from somewhere and treated, but also generates waste water that has to itself be treated. This process not only takes large amounts of electricity, but can have dire effects on surrounding communities if not planned carefully.
				li.cardlist__card While the other categories largely encompass our direct contributions, we can find the products that we are using that contribute to our carbon footprint in our <b>waste</b>. By limitting the use of these products, we reduce our personal contributions to its production, and eventually reduce the manufacturing of the product.